---
permalink: case-studies/phunware
---

{% include header.html %}

<div class="container-fluid">
  <img class="img-fluid nav mob-no" src="../assets/img/1440x79-nav.jpg" srcset="../assets/img/1440x79-nav@2x.jpg 2x" />

  <div class="mobile-nav col-md-12 mob-yes d-flex align-items-center">
      <img class="logo" src="../assets/img/kapost-logo.svg" />
      <img class="burg" src="../assets/img/hamburger-icon.svg"
  </div>
</div>
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 main-cta">
        <p class="lead">
          Case Study
        </p>
        <h1>
          How Phunware Built a Scalable, Streamlined Content Operation With Kapost
        </h1>
        <p>
        <a href="http://resources.kapost.com/demo-kapost.html"><button class="btn text-center col-xs-8 col-lg-4">Get A Demo</button></a><a href="http://resources.kapost.com/demo-kapost.html">Download As A PDF</a>
        </div>
      </div>
      <div class="row mob-no">
        <div class="col-lg-12 mx-auto text-center">

<a href="#main">
        <div class="md-circle-btn"><img class="img-fluid" src="../assets/img/md-arrow-down.svg" /></div>
      </a>
      </div>
        </div>
    </div>
</section>
<section>
  <div id="main" class="container">
    <div class="row">
    <div class="col-lg-8">
      <h2>
        The Challenge
      </h2>
      <p>
        Lacking measurable analytics around content production and consumption there was no scalable process to take marketing to the next level. Producing better content was next to impossible when tracking deadlines and deliverables with spreadsheets and Dropbox.
      </p>
      <h2>
        The Solution
      </h2>
      <p>
        Kapost helped Phunware to build best practices into workflows for high level initiatives. The standardized process took out the work of constantly building to-do lists. Now, a repeatable process existed when planning content assets.
      </p>

      <div class="md-box m-40 mob-no">
        <div class="row">
        <div class="col-lg-3 text-center d-flex align-items-center">
          <img class="img-fluid pic mx-auto" src="../assets/img/135x135-emily.png" srcset="../assets/img/135x135-emily@2x.png 2x" alt="Emily Reynolds" />
        </div>
        <div class="col-lg-9">
          <p class="highlight">
            “My goals were to organize and streamline our content operation, along with making the right content more accessible to sales. We achieved all of these goals.”
          </p>
          <p class="name">
            Emily Reynolds, Content Marketing Manager
          </p>
          <img src="../assets/img/phunware-logo.svg"alt="Phunware" />
        </div>
      </div>
    </div>
    <div class="md-box m-40 mob-yes">
      <div class="row">
      <div class="col-lg-9">
        <p class="highlight">
          “My goals were to organize and streamline our content operation, along with making the right content more accessible to sales. We achieved all of these goals.”
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 text-center d-flex align-items-center">
        <img class="img-fluid pic mx-auto" src="../assets/img/135x135-emily.png" srcset="../assets/img/135x135-emily@2x.png 2x" alt="Emily Reynolds" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <p class="name">
          Emily Reynolds, Content Marketing Manager
        </p>
        <img src="../assets/img/phunware-logo.svg"alt="Phunware" />
      </div>
    </div>
    </div>
      <h2>
        Results
      </h2>
      <p>
        <b>Best-in-Class Content Operation.</b> Emily and her team first used Kapost to develop buyer personas for their five verticals and build workflows accordingly. This was easily accomplished by understanding what to organize and plan when working with the presets that come built into the instance.
      </p>
      <p>
        <b>Streamlined Communication.</b> Overseeing 80 pieces of content at the same time wouldn’t have been possible without the activity feed. Emily said, “ There is no way we could have that many projects going on at the same time without Kapost. I would be in inbox hell.” The ability to track conversations inside activity feeds pertaining to each content asset or initiative made everything run that much smoother.
      </p>
      <p>
        <b>Enabling Sales with Content.</b> Using the Kapost Gallery, content is curated using persona tagging, thematic collections, and shareable URLs. The curated view allows the sales team to find the right content, for the right prospect, at the right time.
      </p>
      <h3>Related Case Studies</h3>
      <div class="md-box m-24 cs-box">
        <div class="row">
        <div class="col-lg-3 d-flex align-items-center ibm">
          <img class="img-fluid img-logo" src="../assets/img/ibm-logo.svg" alt="IBM">
        </div>
        <div class="col-lg-9">
          <h5>Visibility Across The Content Lifecycle</h5>
          <p class="highlight">
            IBM streamlined their content production across multiple sectors to achieve maximum alignment, accountability, and coordination.<br><a href="https://kapost.com/case-studies/customer-ibm/">View Case Study</a>
          </p>
        </div>
      </div>
      </div>
      <div class="md-box m-24 cs-box">
        <div class="row">
        <div class="col-lg-3 d-flex align-items-center lenovo">
          <img class="img-fluid img-logo" src="../assets/img/lenovo-logo.svg" alt="Lenovo" />
        </div>
        <div class="col-lg-9">
          <h5>Scaling The Content Operation</h5>
          <p class="highlight">
            Lenovo has transformed and grown their content marketing operation with Kapost, doubling production and decreasing cost.<br><a href="https://kapost.com/case-studies/customer-lenovo/">View Case Study</a>
          </p>
        </div>
      </div>
      </div>
    </div>

    <div class="col-lg-4 mob-no">
      <div class="md-box">
        <h5>
          About Phunware
        </h5>
        <p class="highlight right-col">
          Phunware is the pioneer of Multiscreen as a Service. This integrated services platform has introduced experiences challenging the most advanced multiscreen devices for the world’s respected brands.
        </p>
        <p class="highlight right-col">
          <a href="https://www.phunware.com">https://www.phunware.com</a>
        </p>
    </div>
  </div>
</div>
</section>
<section class="cta">
  <div class="container text-center">

<div class="col-lg-8 mx-auto">
  <h2>Deliver the Right Content to the Right Customer at the Right Time</h2>
  <p>Ditch the content chaos. Discover the trusted B2B marketing solution.</p>
  <a href="http://resources.kapost.com/demo-kapost.html"><button class="btn text-center col-xs-8 col-lg-4 no-shadow">Get A Demo</button></a>
</div>



  <p class="highlight pt-5 pb-0 mob-no">
    The World’s Best B2B Marketers Choose Kapost
  </p>
  <div class="col-lg-6 mx-auto mob-no">
    <img class="img-fluid" src="../assets/img/logos-banner.svg" />
  </div>

</div>

</section>

{% include footer.html %}
