html, body {
  padding:0;
  margin:0;
  overflow-x:hidden;
}

.hero {
    background: url(../img/1440x486-hero@2x.jpg);
    background-size: cover;

    @media (max-width: $desktop) {
    background-position: top;
    margin-top: -4px;
  }
}

.column {
  flex-direction:column;
}

  .fh-100 {
      @media (min-width: $desktop) {
    padding: 0;
    height: 100vh;
  }
    }

.p-0 {
  padding:0;
}

.m-60 {
  margin: 60px 0;
}

.m-24 {
  margin: 24px 0;
}

.white {
  background: $white;
}

.grey {
  background: $grey;
}

.blue {
  background: $blue;
}

.padding {
  padding: 80px 16px;
}

.md-box {
  background: $white;
  padding: 16px;
  box-shadow: $md-shadow;

}

.pic {
  @media (min-width: $desktop) {
  max-width: 135px;
}
@media (max-width: $desktop) {
margin-left: 0 !important;
margin-bottom: 24px;
}
}

section {
  padding: 40px 0;

    @media (min-width: $desktop) {
padding: 80px 0;
    }
}

.cta {
  padding: 0 0 80px 0;

  .container {

  @media (max-width: $desktop) {
  text-align:left !important;
  }
}
}

.img-logo {
  padding:0 0 16px 0;
}


.z-2 {
  z-index: 2;
}


  @media (min-width: $desktop) {
    .mob-yes {
      display:none
    }
  }

  @media (max-width: $desktop) {
    .mob-no {
      display:none
    }
  }





.wow {
  visibility: hidden;
}
