html, body {
  padding:0;
  margin:0;
  overflow-x:hidden;
  width:100%;
}

.hero {
    background: url(../img/1440x486-hero@2x.jpg);
    background-size: cover;
    width:100%;

    @media (max-width: $desktop) {
    background-position: top;
    margin-top: -4px;
  }
}

.column {
  flex-direction:column;
}

.md-circle-btn {
  border-radius: 50%;
    padding: 16px;
    background: #fff;
    box-shadow: $md-shadow;
    position: absolute;
    margin-top: 48px;
    left: 50%;
    transition: box-shadow 0.15s ease-in-out;
    width:64px;
    height: 64px;

    &:hover {
      box-shadow: $md-shadow-hover;
      transition: box-shadow 0.15s ease-in-out;
    }
}

  .fh-100 {
      @media (min-width: $desktop) {
    padding: 0;
    height: 100vh;
  }
    }

.p-0 {
  padding:0;
}

.m-40 {
  margin: 40px 0;
}

.m-24 {
  margin: 24px 0;
}

.white {
  background: $white;
}

.grey {
  background: $grey;
}

.blue {
  background: $blue;
}

.padding {
  padding: 80px 16px;
}

.md-box {
  background: $white;
  padding: 16px;
  box-shadow: $md-shadow;

}

.pic {
  @media (min-width: $desktop) {
  max-width: 135px;
}
@media (max-width: $desktop) {
margin-left: 0 !important;
margin-bottom: 24px;
}
}

section {
  padding: 40px 0;
  width: 100%;

    @media (min-width: $desktop) {
padding: 80px 0;
    }
}

.cta {
  padding: 0 0 80px 0;

  .container {

  @media (max-width: $desktop) {
  text-align:left !important;
  }

  .highlight {
    font-weight: 600;
    color: $grey;
  }
}
}

.img-logo {
  padding:0 0 16px 0;
}


.z-2 {
  z-index: 2;
}


  @media (min-width: $desktop) {
    .mob-yes {
      display:none
    }
  }

  @media (max-width: $desktop) {
    .mob-no {
      display:none
    }
  }


footer {
  width: 100%;
}



.wow {
  visibility: hidden;
}
