// Typography

body, button, form, input {
  font-family: 'Merriweather', serif;
  font-weight: 300;

}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: $white;
  font-weight: 700;
  margin-bottom: 40px;
  @media (min-width: $desktop) {
  font-size:48px;

}

}

h2 {
  font-family: 'Open Sans', sans-serif;
  color: $blue;
  font-weight: 600;
  @media (min-width: $desktop) {
  font-size: 36px;
}
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: $black;
  font-weight: 700;
  @media (min-width: $desktop) {
  font-size: 36px;
}
@media (max-width: $desktop) {
text-align:left;
}
}

h5 {
  font-family: 'Open Sans', sans-serif;
  color: $black;
  font-weight: 700;
  @media (min-width: $desktop) {
  font-size: 24px;
}
}





p {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  color:$black;
  margin-bottom: 40px;
  font-weight: 300;

}

.lead {
  color: $white;
  margin-bottom: 8px;
  @media (min-width: $desktop) {
  font-size: 24px;

}

}

.highlight {
  font-family: 'Open Sans', sans-serif;
  color: $black;
  @media (min-width: $desktop) {
  font-size: 18px;
  margin-bottom: 16px;
}


}


.name {
  font-family: 'Open Sans', sans-serif;
  color: $grey;
  margin-bottom: 8px;
}

.right-col {
  font-size: 16px;
}
