// Variables

$black: #444;
$blue: #1B88DD;
$teal: #26C6DA;
$teal-darker: #03B8D1;
$grey: #607D8B;
$white: #fff;


$border: 1px solid #eaeaea;
$md-shadow: 1px 1px 2px 1px rgba(68, 68, 68, .2);
$md-shadow-hover: 1px 1px 10px 0px rgba(68, 68, 68, .3);

$padding:80px;

$desktop:990px;
$yuge:1920px;

$grid-gutter-width: 32px !default;
